/*tattooshop*/


/* Utilities */

@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&family=Sedgwick+Ave+Display&family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
@media (min-width: 930px) {
    * {
        margin: 0%;
        padding: 0%;
    }
    body {
        background-color: black;
        margin: 0%;
        padding: 0%;
    }
    .logo {
        left: 1em;
        float: left;
        font-family: 'Inspiration', cursive;
        position: relative;
        font-size: 5em;
        color: orangered;
        text-decoration: none;
        text-shadow: 2px 1px rgba(255, 255, 255, .080);
        font-weight: 300;
    }
    header.sticky {
        padding-bottom: .5rem;
        position: fixed;
        background-color: black;
        height: 7em;
        justify-content: space-between;
    }
    header {
        position: fixed;
        width: 100%;
        display: block;
        justify-content: space-between;
        align-items: center;
        transition: 0.6s;
        z-index: 10000;
    }
    li {
        float: right;
        display: block;
        text-decoration: none;
    }
    li a {
        padding-right: 1em;
        color: white;
        float: right;
        font-family: 'Rubik Distressed', cursive;
        display: block;
        font-size: 3em;
        text-decoration: none;
        text-align: center;
    }
    header.sticky li a {
        color: white;
        position: relative;
        padding-right: 1em;
    }
    #ham {
        position: relative;
        color: orangered;
        padding: 1.8em;
        display: block;
    }
    #myLinks li a {
        font-size: 1em;
        color: white;
        text-shadow: 1px 3px 10px 20px orangered;
        text-decoration: none;
        padding-top: .5em;
    }
    .nav-links {
        padding: 1em;
    }
    .hamburger {
        bottom: 2em;
        float: right;
        display: block;
        padding-right: 3em;
        font-size: 2em;
        transition: .2s;
        margin-bottom: 1em;
    }
    .home_bg {
        height: 100vh;
        width: 100vw;
        background-image: url("tigran-hambardzumyan-ljh4yQb5EBE-unsplash.jpg");
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 1;
    }
    .home_bg p {
        font-family: 'Sedgwick Ave Display', cursive;
        padding: 1rem;
        font-size: 2.5em;
        border: dotted;
    }
    .action-call {
        text-align: center;
        position: absolute;
        width: 50%;
        line-break: 20px;
        margin: 5em;
        background-color: orangered;
        top: 15%;
        z-index: 2;
    }
    button {
        top: 75%;
        color: black;
        position: absolute;
        /*background-color: rgba(255, 68, 0, 0.5);*/
        background-color: orangered;
        border: 1em;
        padding: .8em;
        border-radius: 4px;
        border: 2px solid rgba(255, 68, 0, 0.233);
        font-size: 2em;
        font-family: 'Rubik Distressed', cursive;
        right: 3em;
        text-shadow: 3px 1px 5px rgb(121, 88, 28);
        box-shadow: 2px 2px 8px 3px rgb(255, 60, 0);
        z-index: 1;
    }
    .about_bg {
        position: relative;
        height: 100vh;
        width: 100vw;
    }
    .about_image {
        height: 70%;
        width: 50%;
        top: 17%;
        background-image: url("tattoo-4394609_1920.jpg");
    }
    .about_bg h1 {
        top: 2em;
        left: 1em;
        font-family: con;
        position: absolute;
        font-size: 4em;
        color: white;
        text-shadow: 1px 3px 10px 120px orangered;
        animation-name: animation;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        z-index: 2;
    }
    .about p {
        padding-top: 18%;
        line-height: 2em;
        height: 50em;
        width: 60rem;
        top: 1%;
        left: 20rem;
        font-size: 2em;
        font-family: con;
        position: absolute;
        color: white;
        z-index: 2;
        text-align: left;
    }
    .gallery_bg {
        position: relative;
        height: 100vh;
        width: 100%;
        border: 3px solid orangered;
        background: rgba(22, 17, 15, 0.952);
    }
    .gallery_bg h1 {
        top: 8rem;
        left: 15em;
        font-family: con;
        position: absolute;
        font-size: 4em;
        color: white;
        text-shadow: 1px 3px 10px 120px orangered;
        animation-name: animation;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        z-index: 100000;
    }
    .gallery_pic1 {
        position: absolute;
        top: 20em;
        left: 25em;
        height: 20em;
        width: 18em;
        border: 3px solid orangered;
        z-index: 2;
    }
    .gallery_pic2 {
        left: 10rem;
        position: absolute;
        height: 30rem;
        width: 40em;
        border: 3px solid orangered;
        z-index: 1;
    }
    .gallery_pic3 {
        top: 25em;
        position: absolute;
        left: 15rem;
        height: 15em;
        width: 10em;
        border: 3px solid orangered;
        z-index: 2;
    }
    .gallery_pic4 {
        top: 20rem;
        left: 50rem;
        position: absolute;
        height: 20em;
        width: 20em;
        outline: 3px solid orangered;
        z-index: 3;
    }
    .contact_bg {
        display: block;
        position: relative;
        top: 2em;
    }
    .contact {
        left: 1em;
        top: 2em;
        font-family: con;
        position: absolute;
        font-size: 4em;
        color: white;
        text-shadow: 1px 3px 10px 120px orangered;
        animation-name: animation;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        z-index: 2;
    }
    .email {
        top: 130%;
    }
    .submit {
        left: 25rem;
    }
    .comments {
        left: 1em;
        width: 25em;
        font-size: 3em;
    }
    .form_holder {
        display: block;
        top: 5em;
    }
    .comments_text {
        position: relative;
        top: 15em;
        left: 310px;
        font-size: 2em;
        padding: 1em 1em 1em 1em;
        width: 636px;
    }
    .name {
        left: 1em;
        top: 3em;
        font-size: 3em;
    }
    .email {
        left: 1em;
        top: 5.5em;
        font-size: 3em;
    }
    .merch_bg {
        top: 4em;
        position: relative;
        /*border: 3px solid orangered;*/
        background: black;
        height: 226vh;
        width: 100vw;
        z-index: 0;
    }
    .merch {
        margin-left: 0%;
        margin-right: 0em;
        width: 4em;
        top: 1em;
        left: 1em;
        font-family: con;
        position: relative;
        font-size: 4em;
        color: white;
        text-shadow: 1px 3px 10px 120px orangered;
        animation-name: animation;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        z-index: 2;
    }
    /*.columns {
        position: absolute;
        /*border: 3px solid white;
        color: white;
        height: 40em;
        width: 100%;
    }*/
    .image1 {
        width: 100vw;
        position: absolute;
        margin-top: 5em;
        background-position: center;
        background-size: contain;
        height: 20em;
    }
    .image2 {
        width: 100vw;
        position: absolute;
        margin-top: 5em;
        background-position: center;
        background-size: contain;
    }
    .image3 {
        width: 100vw;
        position: absolute;
        margin-top: 5em;
        border: 3px solid orangered;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 20em;
    }
    .tshirt li a {
        color: white;
        position: absolute;
        /*background-color: rgba(255, 68, 0, 0.5);*/
        background-color: orangered;
        padding-left: 1em;
        padding-right: 1em;
        border-radius: 4px;
        border: 2px solid rgba(255, 68, 0, 0.233);
        font-size: 2em;
        font-family: con;
        text-shadow: 3px 1px 5px rgb(121, 88, 28);
        box-shadow: 2px 2px 8px 3px rgb(255, 60, 0);
        text-decoration: none;
    }
    .header {
        top: -10%;
        left: 50%;
        position: absolute;
    }
    .price {
        position: absolute;
        left: 2em;
        top: 10%;
    }
    .button1 {
        position: absolute;
        right: 45%;
        top: 25%;
    }
    .button2 {
        position: absolute;
        color: white;
        margin-top: 3em;
        /*background-color: rgba(255, 68, 0, 0.5);*/
        background-color: orangered;
        border-radius: 4px;
        border: 2px solid rgba(255, 68, 0, 0.233);
        font-family: con;
        text-shadow: 3px 1px 5px rgb(121, 88, 28);
        box-shadow: 2px 2px 8px 3px rgb(255, 60, 0);
        text-decoration: none;
    }
    .button3 {
        position: absolute;
        color: white;
        margin-top: 3em;
        /*background-color: rgba(255, 68, 0, 0.5);*/
        background-color: orangered;
        border-radius: 4px;
        border: 2px solid rgba(255, 68, 0, 0.233);
        font-family: con;
        text-shadow: 3px 1px 5px rgb(121, 88, 28);
        box-shadow: 2px 2px 8px 3px rgb(255, 60, 0);
        text-decoration: none;
    }
}